<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Adaptive Thumbnail Pile Effect with Automatic Grouping</title>
		<meta name="description" content="Thumbnail Pile Effect with Automatic Grouping" />
		<meta name="keywords" content="jquery, pile, effect, images, grid, thumbnails, css3, grouping, albums" />
		<meta name="author" content="Codrops" />
<!-- 		<link rel="shortcut icon" href="../favicon.ico">  -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/css/stapel.css" />
		<link rel="stylesheet" type="text/css" href="static/css/custom.css" />

        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!--         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!--         <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script> -->

        
		<script src="static/js/modernizr.custom.63321.js"></script>
		<!--[if lte IE 7]><style>.support-note .note-ie{display:block;}</style><![endif]-->
	</head>
	<body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
        
		<div style="padding:10%;"class="container" >	

			
<!-- 			<header class="clearfix"> -->

<!--                 <form>
                    <a href=# id=put><button class='btn btn-default'>Test</button></a>
                    <a href=# id=get><button class='btn btn-default'>Test</button></a>
                </form>
				 -->
<!-- 			</header> -->
			
			<section class="main">
				
				<div class="wrapper">
 					<div class="text-center topbar">
<!-- 						<span id="close" class="back">&larr;</span> -->
						<span id="close" class="back">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </span>
					</div>

					<ul style="margin: 0% 0% 0% 17%;" id="tp-grid" class="tp-grid">
                        {% for Item in Items %}
                            {% for album in Item.AlbumHash %}
                                <li  style="width:80%;height:auto;margin:0% 0% -40% 0%;" data-pile="{{ Item.ClassName }}">
                                    <a class="fancybox" data-fancybox="{{Item.ClassName}}" rel="ligthbox" href="{{album}}">
                                        <img data-count = "{{Item.AlbumHash|length}}" style="width:100%;height:auto;" src="{{album}}" />
                                    </a>
                                </li>
                            {% endfor %}
                        {% endfor %}

					</ul>
				</div>
			</section>

		</div>
        <script type="text/javascript" src="static/js/jquery.stapel.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
        <script src="static/js/stapel_script.js"></script>

		<script type="text/javascript">	

            
            
			$(function() {

				var $grid = $( '#tp-grid' ),
					$name = $( '#name' ),
					$close = $( '#close' ),
					$loader = $( '<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>' ).insertBefore( $grid ),
					stapel = $grid.stapel( {
						randomAngle : false,
						delay : 10,
						gutter : 20,
						pileAngles : 0,
						pileAnimation: {
							openSpeed:400,						
							closeSpeed:400
						},
						onLoad : function() {
							$loader.remove();
                            $("li").each(function(index){
//                                 $(this).attr('display', 'block');
//                                 $(this).css("display", "none");
//                                 $(this).removeAttr('style')
//                                     .css("width","100px");
//                                     .attr('style',  'display:none');
//                                 console.log($(this).attr('data-count'));
                                return false;
                            });
						},
						onBeforeOpen : function( pileName ) {
							$name.html( pileName );
                            
                            $("ul").find("[data-pile='" + pileName + "']").each(function(index){
//                             $("img").each(function(index){
//                                 var old_top = $(this).css("top");
//                                 console.log($(this).css('top'));
//                                 console.log(this.style.top);
//                                 console.log($(this).find("img").height);
//                                 return false;
                            });
						},
						onAfterOpen : function( pileName ) {
							$close.show();

						},
                        onAfterClose: function( pileName,totalItems ) { 
//                             $("")
//                             $(this).css( "position", "" );
//                             $(this).css( "margin-bottom", "" );
                            $pile = $("ul").find("[data-pile='" + pileName + "'] > a > img")
                            
//                             $("li").each(function(index){
//                                 console.log(index)
                            
//                             });
//                                 .attr("data-pile");
//                             console.log($attrs);
//                             console.log($pile.length);
                            $pile.each(function(index){
                                
                                if (index<27)
                                    this.style.visibility = "hidden";
//                                     this.style.display = "none";
                            });
                            return false;
                        }
					} );

				$close.on( 'click', function() {
					$close.hide();
					$name.empty();
					stapel.closePile();
				} );

			} );
            $(function() {
              $('a#put').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/put_test',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
            $(function() {
              $('a#get').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/get_test',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
            


		</script>
	</body>
</html>
